/*
paleta de cores - apenas para referência. 
seletor não será utilizado
*/

.ref__pltcv__ref {
    color: #b2936d;
    /**/
    color: #cb9b6d;
    color: #f1ca89;
    color: #f3dbc3;
    color: #c7c2bc;
    /**/
    color: #9f937d;
    color: #e7d4b4;
    color: #f6e6cc;
    color: #e3cdc0;
    /**/
    color: #f1e3c9;
    color: #fe8302;
    color: #a35709;
    color: #1b1a16;
    /**/
    color: #f3f4ee;
    color: #536162;
    color: #414642;
    color: #c06014;
}


/**/

@font-face {
    font-family: 'Trajan';
    src: URL('../fonts/trajan-pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: URL('../fonts/montserrat-regular.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Trajan';
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
}

@media only screen and (max-width: 1220px) {
    .home-main-block h2 {
        font-size: 27px!important;
    }
}

@media only screen and (max-width: 990px) {
    .home-main-block {
        padding: 50px 50px 0 80px!important;
        text-align: center!important;
    }
    .home-main-image {
        max-width: 70%!important;
        padding: 80px 0 0 0 !important;
        margin: 0 10% 0 0 !important;
    }
}

@media only screen and (max-width: 690px) {
    .site-header,
    .site-layout,
    .services-total {
        padding-right: 40px!important;
        padding-left: 40px!important;
    }
}

.text-center {
    text-align: center;
}

.f-s-10 {
    font-size: 10px;
}

.f-s-20 {
    font-size: 20px;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-40 {
    font-size: 40px;
}

.f-s-50 {
    font-size: 50px;
}

.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

.row-dragging td {
    padding: 16px;
}

.row-dragging .drag-visible {
    visibility: visible;
}

.ck-editor__editable_inline {
    min-height: 200px;
}


/* Página de erro 404 */

.not-found-intro {
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 21px;
    color: #536162;
}

.not-found-intro .highlight {
    font-size: 36px;
    color: #a35709;
    margin-bottom: 0;
}


/**/

.main-content {
    min-height: 100vh;
    background: #fff;
}

.site-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #1b1a16;
    border-bottom: none;
    min-height: 71px;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.055), 0 3px 6px 0 rgba(0, 0, 0, 0.027), 0 5px 12px 4px rgba(0, 0, 0, 0.027);
}

.site-menu {
    border-bottom: none!important;
    background-color: #1b1a16;
    color: #b2936d;
}

.site-header.light {
    position: relative;
    border-bottom: none;
    box-shadow: none;
    background-color: #fff;
}

.site-menu.light {
    background-color: #fff;
    border-bottom: none;
}

.site-logo {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 0;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.site-menu-trigger {
    float: right;
    color: #b2936d;
    font-size: 16px;
    font-weight: bolder;
}

.site-menu-trigger:active,
.site-menu-trigger:hover {
    color: #c06014;
}

.brand-menu {
    font-family: 'Trajan';
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-r-100 {
    margin-right: 100px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.input-email {
    text-transform: lowercase !important;
}

.default-input-number {
    width: 100%;
}

.site-tag-plus {
    background: #fff;
    border-style: dashed;
}

.edit-tag {
    user-select: none;
}

.tag-input {
    width: 200px;
    margin-right: 8px;
    vertical-align: top;
}

.site-header,
.site-layout,
.services-total {
    padding: 0 130px;
}

.site-content {
    padding-top: 90px;
    padding-bottom: 100px;
}

.site-breadcrumb {
    margin-bottom: 20px;
}

.site-breadcrumb a:hover {
    color: #b2936d;
}

.ant-modal-content .ant-modal-footer .ant-btn-primary,
.action-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #a35709 !important;
    border-color: #a35709 !important;
    border-radius: 5px !important;
}

.ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary:active,
.ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary:hover,
.action-button:active,
.action-button:hover {
    background-color: #c06014 !important;
    border-color: #c06014 !important;
    color: #fff!important;
}

.action-button-cancel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-modal-content .ant-modal-footer .ant-btn:hover,
.ant-modal-content .ant-modal-footer .ant-btn:active,
.action-button-cancel:hover,
.action-button-cancel:active,
.ant-select:active,
.ant-select:hover,
.ant-select.ant-select-focused,
.ant-select-selector:active,
.ant-select-selector:hover,
.default-input:hover,
.default-input:focus,
.default-input:focus-within {
    border-color: #c06014!important;
    outline: 0!important;
    -webkit-box-shadow: 0 0 0 2px rgba(233, 153, 87, 0.2)!important;
    box-shadow: 0 0 0 2px rgba(233, 153, 87, 0.2)!important;
}

.ant-modal-content .ant-modal-footer .ant-btn:hover,
.ant-modal-content .ant-modal-footer .ant-btn:active,
.action-button-cancel:hover,
.action-button-cancel:active {
    color: #c06014!important;
}

.secondary-action:focus,
.secondary-action:active,
.secondary-action:visited,
.secondary-action:hover,
.table-action:focus,
.table-action:active,
.table-action:visited,
.table-action:hover {
    border-color: #b2936d;
    color: #b2936d;
}

.danger-action {
    color: red!important;
}


/* Home */

.home-main-container {
    min-height: 100vh;
}

.home-main-image-container {
    text-align: right;
    vertical-align: bottom;
}

.home-main-container,
.plan-bugdet-main-container {
    background-image: linear-gradient( #fff 50%, #f6e6cc 80%);
}

.home-main-block {
    padding: 200px 50px 0 0;
}

.home-main-block h2,
.home-call-to-action h2 {
    font-size: 40px;
    color: #a35709;
    margin-bottom: 0;
}

.home-main-block p {
    font-size: 20px;
    color: #536162;
}

.home-main-image {
    max-width: 90%;
    padding: 150px 0 0 0;
    margin: 0 auto;
}

.home-reputation-block {
    background-color: #1b1a16;
}

.home-testimonials-block {
    background-color: #f3f4ee;
}

.home-reputation-block,
.home-testimonials-block {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 200px;
    text-align: center;
}

.home-reputation-block,
.home-reputation-block h2,
.home-reputation-block h3 {
    color: #fff;
}

.home-reputation-block h2,
.home-testimonials-block h2,
.home-call-to-action-block h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.testimonial-item {
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonial-item .customer-name {
    margin-top: 5px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-testimonials-block .ant-carousel .slick-dots-bottom {
    bottom: -180px;
}

.home-testimonials-block .ant-carousel .slick-dots li button {
    background: #b2936d;
}

.reputation-indicator {
    margin-top: 20px;
    font-size: 40px;
    color: #b2936d !important;
}

.reputation-indicator-scale {
    font-size: 18px;
}

.testimonials-item {
    margin-top: 100px;
    margin-right: 50px;
}

.home-call-to-action {
    min-height: 500px;
    background-image: linear-gradient( #f3f4ee 10%, #f6e6cc 80%);
}

.home-call-to-action-block {
    padding-top: 200px;
}


/* Formulário básico */

.basic-data-intro {
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 21px;
    color: #536162;
}

.basic-data-intro .highlight {
    font-size: 36px;
    color: #a35709;
    margin-bottom: 0;
}

.basic-data-content-container {
    background-color: #f3f4ee;
    padding-top: 50px;
    padding-bottom: 100px;
}

.basic-data-content-container.alt {
    background-color: #fff;
}

.basic-data-container.last {
    margin-bottom: 100px;
}

.basic-data-title {
    margin-bottom: 50px;
    font-size: 24px;
    /* color: #9f937d; */
    color: #a35709;
    opacity: 1;
    transition: all 0.3s linear;
}

.basic-data-field {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s linear;
}

.inactive {
    opacity: 0.3 !important;
}

.basic-data-form-label {
    font-size: 18px;
    font-weight: 700;
    /* color: #a35709; */
    color: #b2936d;
}

.basic-data-form-input-text {
    border: none;
    outline: none;
    background-color: #f3f4ee;
    /* color: #fff; */
    /* border-bottom: solid 1px #a35709; */
    border-bottom: solid 1px #b2936d!important;
    width: 100%;
}

.basic-data-content-container.alt .basic-data-form-input-text {
    background-color: #fff;
}


.basic-data-form-input-text.ant-input-number:hover,
.basic-data-form-input-text.ant-input-number:focus,
.basic-data-form-input-text.ant-picker:hover,
.basic-data-form-input-text.ant-picker:focus{
    border: none !important;
    outline-color: #fff !important;
    /* color: #fff; */
    /* border-bottom: solid 1px #a35709; */
    border-bottom: solid 1px #b2936d !important;
}


/* Seleção de planos */

.plan-budget-intro {
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 21px;
    color: #536162;
}

.plan-budget-intro .highlight {
    font-size: 36px;
    color: #a35709;
    margin-bottom: 0;
}

.plan-budget-card {
    min-height: 600px;
    margin: 0px 20px 60px 20px;
    border-radius: 10px;
    border: 1px solid #b2936d;
}

.plan-budget-card-hightlight-container {
    text-align: center;
    min-height: 150px;
}

.plan-budget-card-highlight-title {
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    color: #b2936d;
}

.plan-budget-card-highlight-price {
    font-size: 1.6em;
    color: #536162;
    margin: 0 0 10px 0;
}

.plan-budget-card-highlight-description {
    color: #c7c2bc;
}

.plan-budget-card-items {
    margin-top: 20px
}

.plan-budget-card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #e3cdc0;
    width: 100%;
    text-align: center;
}

.plan-bugdet-customized {
    background-color: #1b1a16;
}

.plan-bugdet-customized .plan-budget-card-actions {
    position: static;
    border-top: none;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}


/* Evento customizado */

.services-container {
    margin-bottom: 100px;
}

.service-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-group-title {
    color: #a35709 !important;
    margin-bottom: 20px !important;
}

.service-group.alt-row {
    background-color: #f3f4ee;
}

.service-card {
    margin-bottom: 30px;
    border-radius: 5px;
}

.service-card.active {
    background-color: #1b1a16;
    border-color: #1b1a16;
    color: #b2936d;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.service-card.active h4 {
    color: #b2936d !important;
}

.service-card.active .ant-card-meta-description {
    color: #c7c2bc;
}

.service-card-action-container {
    text-align: right;
}

.service-card-investiment {
    font-weight: 500;
    font-size: 16px;
}

.service-card-details-link-container {
    margin-top: 10px;
}

.service-card-details-link {
    color: #a35709 !important;
}

.services-total {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #fff;
    min-height: 66px;
    margin-top: 50px !important;
    box-shadow: 10px 1px 2px -2px rgba(0, 0, 0, 0.16), 10px 3px 6px 0 rgba(0, 0, 0, 0.12), 10px 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.services-total-label {
    text-transform: uppercase;
}

.services-total-label-currency {
    font-weight: 500;
}

.services-total-value {
    font-size: 20px;
}

.service-detail-main-title {
    font-size: 20px;
    margin-bottom: 0px;
}

.service-detail-headline {
    color: #c7c2bc;
    padding-bottom: 20px!important;
}

.service-detail-description-icon {
    font-size: 100px;
    color: #f3dbc3;
    opacity: 0.4;
}

.site-description-item-profile-p-label {
    color: #c06014;
    font-size: 16px;
    font-family: 'Trajan';
    margin-bottom: 0;
}

.site-description-item-profile-p-content {
    margin-bottom: 20px;
}

.service-detail-link {
    color: #c7c2bc;
}

.service-detail-link:hover,
.service-detail-link:active {
    color: #536162;
}

.service-detail-image-container {
    display: inline-block;
    margin: 5px 10px 5px 0px;
}

.service-detail-image {
    border-radius: 5px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.16), 0 1.5px 3px 0 rgba(0, 0, 0, 0.12), 0 2.5px 6px 2px rgba(0, 0, 0, 0.09);
}


/* Admin */

.admin-main {
    padding-top: 110px;
    padding-bottom: 100px;
    color: #536162;
}

.admin-main-divider:first-of-type {
    margin-top: 0!important;
}

.admin-main-divider {
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}

.admin-section-title {
    color: #c06014;
    font-size: 20px;
    font-family: 'Trajan';
}

.admin-main-panel-card {
    height: 100%;
    text-align: center;
}

.admin-main-panel-card:hover {
    background-color: #1b1a16;
    border-color: #1b1a16;
    color: #c7c2bc;
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.admin-main-panel-card-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.admin-main-panel-card-title {
    color: #c06014;
}

.admin-main-panel-card-icon {
    color: #f3dbc3;
}

.admin-main-panel-card:hover .admin-main-panel-card-icon {
    color: #b2936d;
}

.admin-main-panel-card,
.admin-main-panel-card-title {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.form-actions-separator {
    margin: 10px 0 0 0;
}


/* Sobrescrevendo AntDesign */

.ant-switch-checked {
    background-color: #b2936d;
    border-color: #b2936d;
}

.ant-picker,
.ant-menu-item-selected,
.ant-menu-item-active,
.ant-menu-item:hover {
    color: #b2936d !important;
    border-bottom: 2px solid #b2936d !important;
    background-color: transparent!important;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-submenu {
    top: 4px!important;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
    background-color: #b2936d !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #b2936d !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: #b2936d !important;
}

.ant-steps-item-process .ant-steps-item-icon {
    border-color: #b2936d !important;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: #b2936d !important;
}

.ant-table-thead>tr>th {
    font-family: Tahoma;
    font-weight: 600!important;
    text-transform: uppercase;
    font-size: 11px;
}

.ant-pagination-item-active,
.ant-pagination-item:hover {
    border-color: #b2936d !important;
}

.ant-pagination-item-active a,
.ant-pagination-item a:hover {
    color: #b2936d !important;
}

.ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination-next .ant-pagination-item-link:hover {
    border-color: #b2936d;
}

.ant-pagination-prev .ant-pagination-item-link .anticon,
.ant-pagination-next .ant-pagination-item-link .anticon {
    color: #b2936d;
}

.ant-pagination-prev.ant-pagination-disabled .ant-pagination-item-link:hover,
.ant-pagination-next.ant-pagination-disabled .ant-pagination-item-link:hover {
    border-color: #d9d9d9!important;
}

.ant-pagination-prev.ant-pagination-disabled .ant-pagination-item-link .anticon,
.ant-pagination-next.ant-pagination-disabled .ant-pagination-item-link .anticon {
    color: #d9d9d9!important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #b2936d;
}

.ant-checkbox-checked .ant-checkbox-inner {
    border-color: #b2936d;
    background-color: #b2936d;
}

.ant-picker-focused,
.ant-input:focus,
.ant-input:hover {
    border-color: #c06014!important;
    outline: 0!important;
    -webkit-box-shadow: 0 0 0 2px rgba(233, 153, 87, 0.2)!important;
    box-shadow: 0 0 0 2px rgba(233, 153, 87, 0.2)!important;
}

.ant-upload.ant-upload-select-picture-card:hover {
    border-color: #c06014;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #f3f4ee!important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border-color: #b2936d;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
    background-color: #b2936d;
}

.ant-picker-today-btn, .ant-picker-header-view button:hover{
    color: #b2936d;
}